.footer {
  display: flex;
  align-items: center;

  & .btn-toggle-all {
    cursor: pointer;
    padding: 3px 7px;
    text-decoration: none;
    border-radius: 3px;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  & .filters {
    position: relative;

    & li button {
      color: inherit;
      margin: 3px;
      padding: 3px 7px;
      text-decoration: none;
      border: 1px solid transparent;
      border-radius: 3px;

      &.selected {
        border-color: rgba(175, 47, 47, 0.2);
      }

      &:hover {
        border-color: rgba(175, 47, 47, 0.1);
      }
    }
  }
}